html{
  text-align: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  background: rgb(141,159,235);
  background: radial-gradient(circle, rgba(141,159,235,1) 0%, rgba(175,201,233,1) 0%, rgba(117,149,245,1) 1%, rgba(178,199,255,1) 52%, rgba(66,147,209,1) 100%, rgba(16,165,195,1) 100%, rgba(0,212,255,1) 100%);
}

#welcome-section {
  margin-top: 200px;
  padding: 0px 170px 0px 170px;
}

#city-name {
    margin-top: 20px;
    font-size: 65px;
}
.done {
    color: rgb(40, 170, 114);
    font-weight: 600;
    font-style: italic;
}

#weather-box {
    margin: 10px 120px 20px 120px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 72%, rgba(231,231,231,1) 100%);    padding: 5px 0px 10px 0px;
    border-radius: 5px;
  }
#weathers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
    font-style: italic;
    font-weight: lighter;
}

.weather{
    background-color: whitesmoke;
    padding: 5px 5px 5px 5px;
    border: .5px solid gray;
    font-size: 20px;
    padding: 12px 0px 12px 0px;
    margin-bottom: 30px;
}

.firstday{
    margin-left: 250px;
    height: 70px;
}

.finalday{
    margin-right: 250px;
    height: 70px;
}

#check-more {
    font-size: 18px;
    font-style: italic;
}

.city-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin: 10px 120px 20px 120px;
  }

  .box:hover{
    background-color: #cc4ac3;
    color: whitesmoke;
  }

  .box{
    padding: 15px 15px 15px 15px;
    border-radius: 8px;
    font-size: 20px;
    background-color: whitesmoke;
    color: #cc4ac3;
  }

  #todo-list-container {
    padding: 2px 0px 0px 0px;
    margin: 10px 120px 20px 120px;
    background-color:#98f3d8;
    border-radius: 5px;
  }

  #cant-forget-title {
    font-size: 20px;
    padding: 0;
    margin: 15px;
  }

  #different-color{
      background-color:  rgb(235, 242, 241);
      padding: 30px 0px 30px 0px;
  }

  #add-todo-btn {
    background-color: #cc4ac3;
    height: 40px;
    width: 70px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
  }
  #add-todo-btn:hover{
      background-color:#98f3d8 ;
      color: black;
      
  }

  input{
    height: 40px;
    padding-left: 18px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    margin-right: 10px;
  }

  input::placeholder {
    font-style: italic;
  }

  #todo-list {
      list-style-type: none;
      font-size: 30px;
  }

  a {
     text-decoration: none;
     color: black;
  }

  .done-btn{
      margin-left: 10px;
      background-color: #98f3d8;
      height: 30px;
      width: 40px;
      border-radius: 10px;
      font-size: 20px;
  }

  .delete-btn {
    background-color: #cc4ac3;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
  }

  .todo {
    margin-bottom: 5px;

  }

  .hide {
    display: none;
  }