<nav class="navbar">
  <span class="logo"> <a href="{% url 'index' %}">TravelApp</a></span>
  <span class="user">
    {% if request.user.is_authenticated %}
    <p class="user-name">
      Hello {{ request.user.username }},
    </p>

    <button class="btn-transp">
      <a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
    </button>
    {% else %}
    <button class="btn-transp">
      <a href="{% url 'login' %}?next={{request.path}}">Log-in</a>
    </button>

    {% endif %}
  </span>
</nav>
