<nav class="navbar">
  <span class="logo"> <a href="{% url 'main' %}">TravelApp</a></span>
  <ul class="user">
    {% if request.user.is_authenticated %}
    <li class="user-name">
      Hello {{ request.user.username }},
    </li>
    <li class="btn-transp">
      <a href="{% url 'logout' %}">Logout</a>
    </li>

    {% else %}
    <li class="register-link"><a href="{% url 'register' %}">Register</a></li>
    <li class="btn-transp">
      <a href="{% url 'login' %}">Log-in</a>
    </li>

    {% endif %}
  </ul>
</nav>