{% extends 'base.html' %} {% load static %} {% block content %}
<div id="search-form">
  <form action="{% url 'city' %}" id="main-form">
    {% csrf_token %}
    <div id="place-form">
      <label for="">Place</label>
      <i class="fas fa-street-view"></i>
      <input
        type="text"
        onfocus="this.value=''"
        placeholder="Where do you want to go?"
        id="place"
        name="place"
        required
      />
    </div>

    <div class="row">
      <div class="time-box">
        <div id="arrive-form">
          <label for="arrive">Arrive</label>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <input
            onfocus="this.value=''"
            type="date"
            name="trip-start"
            id="arrive"
            value=""
            min="2020-04-08"
            required
          />
        </div>

        <div id="depart-form">
          <label for="depart">Depart</label>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <input
            onfocus="this.value=''"
            type="date"
            name="trip-end"
            id="depart"
            value=""
            min="2020-04-08"
            required
          />
        </div>
      </div>
      <div id="submit" class="btn-search">
        <i class="fas fa-search"></i>
        <input type="submit" value="Search" class="btn-text" />
      </div>
    </div>
  </form>
</div>

{% endblock %}
