{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %}Change Your Password{% endblock %}

<!-- form to change password -->

{% block content %}
<section class="pass-change-section">
  <div class="card">
    <figure class="avatar">
      <img src="{% static 'img/user.png' %}" alt="" />
    </figure>

    <h2 class="card-title">Change your password</h2>

    <form method="POST">
      {{ form.as_p }}
      <div id="login" class="btn-login">
        <p><input type="submit" value="Change" class="btn-text" /></p>
      </div>
      {% csrf_token %}
    </form>
  </div>
</section>
{% endblock %}
