{% extends 'base.html' %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %}Reset Your Password{% endblock %}

<!-- form to change password -->

{% block content %}
<section class="pass-reset-section">
  <div class="card">
    <figure class="avatar">
      <img src="{% static 'img/user.png' %}" alt="" />
    </figure>

    <h2 class="card-title">Forgotten your password?</h2>
    <p>Enter your e-mail address to obtain a new password.</p>

    <form method="POST">
      {{ form.as_p }}
      <div id="login" class="btn-login">
        <p><input type="submit" value="Send e-mail" class="btn-text" /></p>
      </div>
      {% csrf_token %}
    </form>
  </div>
</section>
{% endblock %}
