{% extends "base.html" %} {% load static %}
<!-- title -->
{% block title %}Reset your password{% endblock %}

<!-- login form -->
{% block content %}
<section class="login-section">
  <div class="card">
    <figure class="avatar">
      <img src="{% static 'img/user.png' %}" alt="" />
    </figure>

    <h2 class="card-title">Reset your password</h2>

    {% if validlink %}
    <p>Please enter your new password twice:</p>

    <form method="POST">
      {{ form.as_p }} {% csrf_token %}
      <div id="login" class="btn-login">
        <p>
          <input type="submit" value="Change my password" class="btn-text" />
        </p>
      </div>
    </form>
    {% else %}
    <p>
      The password reset is invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    {% endif %}
  </div>
</section>

{% endblock %}