{% extends "base.html" %}

<!-- load static -->
{% load static %}

<!-- title  -->
{% block title %}Reset your password{% endblock %}

<!-- info logged out  -->
{% block content %}
<section class="reset-done-section">
  <div class="card">
    <figure class="avatar">
      <img src="{% static 'img/user.png' %}" alt="" />
    </figure>

    <h2 class="card-title">Reset your password</h2>
    <p>We've emailed you instructions for setting your password.</p>
    <p>
      If you don't received an email, please make sure you've entered the
      address you registered with.
    </p>
  </div>
</section>

{% endblock %}
