{% extends "base.html" %} {% load static %}

<!-- Title -->
{% block title %}Rgister{% endblock %}

<!-- create a new account form -->

{% block content %}
<div class="register-section">
  <div class="card">
    <figure class="avatar">
      <img src="{% static 'img/user.png' %}" alt="" />
    </figure>
    <h1>Create an account</h1>
    <p>Please, sign up using the following form.></a></p>
    <form method="post">
      {{ user_form.as_p }}
      {% csrf_token %}
      <div id="login" class="btn-login">
        <p><input type="submit" value="Create my account" class="btn-text"></p>
      </div>
    </form>

  </div>

  {% endblock %}